# =========================
# ENV FILES (SECRETS)
# =========================
.env
.env.*
!.env.example

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
backend/app/venv/

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
.parcel-cache/

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# OS / EDITOR
# =========================
.DS_Store
Thumbs.db
.vscode/
